In [36]:
import numpy as np
import pandas as pd
from numpy.random import randn#we'll use in DataFrames part.
#1. Series

In [6]:
#pd.__version__ version control

'1.0.1'

In [10]:
labels_list = ["Ali","Ayşe","Fatma"]
data_list = [10,15,20]
#Init signature:
#pd.Series(
#    data=None,
#    index=None,
#    dtype=None,
#    name=None,
#    copy=False,
#    fastpath=False,
#)

pd.Series(data_list,labels_list)

Ali      10
Ayşe     15
Fatma    20
dtype: int64

In [11]:
#if index does not exist in Series, pandas declare 0 1..data.length automatically.
pd.Series(data_list)

0    10
1    15
2    20
dtype: int64

In [14]:
pd.Series(data=np.array([5,7,9]))

0    5
1    7
2    9
dtype: int32

In [25]:
dataDict = {"Ceren":8,"Eren":9,"Deren":7,"Seren":1,"Beren":8}
dataDict2 = {"Müjde":4,"Eren":3,"Deren":1,"Seren":0,"Beren":8}

In [26]:
series = pd.Series(dataDict)

series2 = pd.Series(dataDict2)

In [27]:
series

Ceren    8
Eren     9
Deren    7
Seren    1
Beren    8
dtype: int64

In [28]:
total = series + series2

In [29]:
total

Beren    16.0
Ceren     NaN
Deren     8.0
Eren     12.0
Müjde     NaN
Seren     1.0
dtype: float64

In [30]:
total["Eren"]

12.0

In [34]:
total["Ceren"]

nan

In [33]:
###########################################################################################
#2. DataFrames

In [39]:
df = pn.DataFrame(data=randn(3,3),index=["a","b","c"],columns=[1,2,3])
#dataframes include "coloumns" keyword so that we can describe column of the top in frames.

In [43]:
df

          1         2         3
a  0.160851  0.807278 -0.197420
b -0.099204  1.101233  0.868930
c -1.134538 -0.380485 -0.883586

In [44]:
df[1] #you can look at columns like that

a    0.160851
b   -0.099204
c   -1.134538
Name: 1, dtype: float64

In [46]:
#for looking rows:
df.loc["a"]# loc is short form of location

1    0.160851
2    0.807278
3   -0.197420
Name: a, dtype: float64

In [47]:
df[[1,3]]

          1         3
a  0.160851 -0.197420
b -0.099204  0.868930
c -1.134538 -0.883586

In [50]:
df[4] = pd.Series(data=[1.,2.,1.],index=["a","b","c"])

In [52]:
df[5]=df[1]+df[2]+df[3]
df

          1         2         3    4         5
a  0.160851  0.807278 -0.197420  1.0  0.770708
b -0.099204  1.101233  0.868930  2.0  1.870959
c -1.134538 -0.380485 -0.883586  1.0 -2.398609

In [57]:
df.drop("a")
#axis değişkeni 0 ya da  olabilir. otomatik olarak 0 da çalıştırılır.
#0 da iken satırlara, 1 de iken sütunlara yönlendirme yapar.

          1         2         3    4         5
b -0.099204  1.101233  0.868930  2.0  1.870959
c -1.134538 -0.380485 -0.883586  1.0 -2.398609

In [58]:
df.drop(5,1)
#DataFrame içinde değişikliklerin kaydedilmesi için inplace=True girilmeli.

          1         2         3    4
a  0.160851  0.807278 -0.197420  1.0
b -0.099204  1.101233  0.868930  2.0
c -1.134538 -0.380485 -0.883586  1.0

In [59]:
###########################################################################################
#3.Filtering DataFrames

In [80]:
df = pd.DataFrame(randn(3,3),columns=["bir","iki","üç"])
booleanDF=  df > 0 # return all conditions for every data in DataFrame
df

        bir       iki        üç
0  0.318024  2.195856  0.416238
1  0.235882  0.664415 -0.772261
2 -0.354117  0.032996 -0.284783

In [81]:
booleanDF

     bir   iki     üç
0   True  True   True
1   True  True  False
2  False  True  False

In [83]:
df[booleanDF]
# false ones , NaN ; true ones real values
#df[df>0] returns same result

        bir       iki        üç
0  0.318024  2.195856  0.416238
1  0.235882  0.664415       NaN
2       NaN  0.032996       NaN

In [91]:
df[df["bir"]>0.25] #false döndüren rawları devre dışı bırakır.

        bir       iki        üç
0  0.318024  2.195856  0.416238

In [94]:
# & == and , | == or
df[(df["bir"]>0) & (df["iki"]>0) & (df["üç"]>0)]  # biri de ikisi de üçü de 0 dan büyük olan row değerleri
df[(df["bir"]>0) | (df["iki"]>0)  ] # bir veya ikisi 0 dan büyük rawlar

        bir       iki        üç
0  0.318024  2.195856  0.416238
1  0.235882  0.664415 -0.772261
2 -0.354117  0.032996 -0.284783

In [95]:
####################################################################
#4. Defining multiindexes im DataFrames

In [96]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [99]:
hierarcy = list(zip(outerIndex,innerIndex))
hierarcy

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [100]:
hierarcy= pd.MultiIndex.from_tuples(hierarcy)

In [101]:
hierarcy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [102]:
df = pd.DataFrame(randn(9,3),hierarcy,columns=["one","two","three"])

In [103]:
df

                    one       two     three
Group1 Index1 -0.706294 -1.423614  0.159669
       Index2  0.540215 -0.698893 -1.473806
       Index3  0.364638 -0.535641 -1.321965
Group2 Index1  0.926938  0.874408  0.927236
       Index2 -0.464190  0.434698  0.984000
       Index3  0.383152 -0.995104 -1.648417
Group3 Index1 -0.419346 -2.854285 -0.983141
       Index2  0.162417 -1.313995 -0.734937
       Index3 -0.152079  0.328280  0.936053

In [104]:
df["one"]

Group1  Index1   -0.706294
        Index2    0.540215
        Index3    0.364638
Group2  Index1    0.926938
        Index2   -0.464190
        Index3    0.383152
Group3  Index1   -0.419346
        Index2    0.162417
        Index3   -0.152079
Name: one, dtype: float64

In [105]:
df["one"] < 0

Group1  Index1     True
        Index2    False
        Index3    False
Group2  Index1    False
        Index2     True
        Index3    False
Group3  Index1     True
        Index2    False
        Index3     True
Name: one, dtype: bool

In [106]:
df[df["one"]<0]

                    one       two     three
Group1 Index1 -0.706294 -1.423614  0.159669
Group2 Index2 -0.464190  0.434698  0.984000
Group3 Index1 -0.419346 -2.854285 -0.983141
       Index3 -0.152079  0.328280  0.936053

In [107]:
df.loc["Group1"]

             one       two     three
Index1 -0.706294 -1.423614  0.159669
Index2  0.540215 -0.698893 -1.473806
Index3  0.364638 -0.535641 -1.321965

In [109]:
df.loc[["Group1","Group3"]]

                    one       two     three
Group1 Index1 -0.706294 -1.423614  0.159669
       Index2  0.540215 -0.698893 -1.473806
       Index3  0.364638 -0.535641 -1.321965
Group3 Index1 -0.419346 -2.854285 -0.983141
       Index2  0.162417 -1.313995 -0.734937
       Index3 -0.152079  0.328280  0.936053

In [110]:
df.loc["Group1"].loc["Index1"]

one     -0.706294
two     -1.423614
three    0.159669
Name: Index1, dtype: float64

In [111]:
df.loc["Group1"].loc["Index1"]["two"]

-1.4236135345048033

In [112]:
df.index.names

FrozenList([None, None])

In [113]:
df.index.names = ["Groups","Indexes"]

In [114]:
df.index.names

FrozenList(['Groups', 'Indexes'])

In [115]:
df

                     one       two     three
Groups Indexes
Group1 Index1  -0.706294 -1.423614  0.159669
       Index2   0.540215 -0.698893 -1.473806
       Index3   0.364638 -0.535641 -1.321965
Group2 Index1   0.926938  0.874408  0.927236
       Index2  -0.464190  0.434698  0.984000
       Index3   0.383152 -0.995104 -1.648417
Group3 Index1  -0.419346 -2.854285 -0.983141
       Index2   0.162417 -1.313995 -0.734937
       Index3  -0.152079  0.328280  0.936053

In [116]:
df.xs("Index1",level="Indexes")

             one       two     three
Groups
Group1 -0.706294 -1.423614  0.159669
Group2  0.926938  0.874408  0.927236
Group3 -0.419346 -2.854285 -0.983141

In [117]:
#################################################################
#5. Missing Datas

In [120]:
arr = np.array([[40,50,np.nan],[14,np.nan,np.nan],[10,np.nan,80]])

In [126]:
df=pd.DataFrame(arr,index = ["one","two","three"] , columns=["c1","c2","c3"])
#df.dropna() nanları silmek 
df.dropna(thresh = 2) # 2 parametre barındıran coloumnları nan barındırsa bile silme.

         c1    c2    c3
one    40.0  50.0   NaN
three  10.0   NaN  80.0

In [127]:
df.fillna(value=0)

         c1    c2    c3
one    40.0  50.0   0.0
two    14.0   0.0   0.0
three  10.0   0.0  80.0

In [128]:
df.sum()

c1    64.0
c2    50.0
c3    80.0
dtype: float64

In [131]:
df.sum().sum()

194.0

In [132]:
df.isnull().sum().sum()#kaç nan olduğunu hesaplama
#4

4

SyntaxError: invalid syntax (<ipython-input-133-9dd187edd10c>, line 1)

In [134]:
###############################################################################3